@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 243 0% 100%;
    --foreground: 243 0% 10%;
    --card: 243 0% 100%;
    --card-foreground: 243 0% 15%;
    --popover: 243 0% 100%;
    --popover-foreground: 243 95% 10%;
    --primary: 243 76% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243 10% 95%;
    --secondary-foreground: 0 0% 0%;
    --muted: 205 10% 95%;
    --muted-foreground: 243 0% 40%;
    --accent: 205 10% 90%;
    --accent-foreground: 243 0% 15%;
    --destructive: 0 70% 60%;
    --destructive-foreground: 243 0% 100%;
    --border: 243 0% 92%;
    --input: 243 10% 90%;
    --ring: 243 76% 57%;
    --radius: 0.35rem;
  }

  .dark {
    --background: 244.5 0% 8%;
    --foreground: 244.5 0% 90%;
    --card: 244.5 0% 0%;
    --card-foreground: 244.5 0% 90%;
    --popover: 244.5 10% 5%;
    --popover-foreground: 244.5 0% 90%;
    --primary: 244.5 57.9% 50.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 244.5 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 206.5 10% 15%;
    --muted-foreground: 244.5 0% 60%;
    --accent: 206.5 10% 15%;
    --accent-foreground: 244.5 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 244.5 0% 90%;
    --border: 244.5 20% 10%;
    --input: 244.5 20% 10%;
    --ring: 244.5 57.9% 50.6%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}
